@import 'node_modules/slick-carousel/slick/slick.css';


.fade-enter,
.fade-leave-to { opacity: 0; }
.fade-enter-active,
.fade-leave-active { transition: 500ms; position: absolute; }

.circle-enter-active { animation: 1s circle reverse; }
.circle-leave-active { animation: 1s circle; }
@keyframes circle {
  0% { clip-path: circle(75%); }
  100% { clip-path: circle(0%); }
}

.ellipse-enter-active { animation: 1s ellipse reverse; }
.ellipse-leave-active { animation: 1s ellipse; }
@keyframes ellipse {
  0% { clip-path: ellipse(80% 80%); }
  100% { clip-path: ellipse(0% 20%); }
}

.inset-enter-active { animation: 1s inset reverse; }
.inset-leave-active { animation: 1s inset; }
@keyframes inset {
	0% { clip-path: inset(0% round 0%); }
	100% { clip-path: inset(50% round 50%); }
}

.polygon-enter-active { animation: 1s polygon reverse; }
.polygon-leave-active { animation: 1s polygon; }
@keyframes polygon {
  0% { clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%); }
  100% { clip-path:  polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%); }
}



// modal Adaptive

$modal-xl: 900px;
$modal-xxl: 1040px;
$modal-xxxl: 1180px;
$modal-90per: 90%;

@media (min-width: 768px) {
  .modal-xl {
    max-width: $modal-xl;
  }
  .modal-xxl {
    max-width: $modal-xxl;
  }
  .modal-xxxl{
    max-width: $modal-xxxl;
  }
  .modal-90per {
    max-width: $modal-90per;
  }
}

.modal-fullscreen {
  max-width: 100%;
  width: 100%;
  margin: 0;
  height: 100%;

  .modal-body {
    padding: 0;
  }

  .modal-content {
    height: 100%;
  }

  &.aside .modal-content {
    height: auto;
  }

  &.modal-dialog.aside.modal-stack1 .modal-content {
    transform: scale(1) translate(0, 0) !important;
  }
}

//modal without border
.modal-dialog.modal-border-0 {
  .modal-content {
    border: none;
  }
}

@media screen and (min-width: 800px){
  .modal-dialog {
    &.modal-xxl{
      width: 98%;
      max-width: 1040px;
    }
  }
}


@media screen and (min-width: 640px){
  .modal-dialog {
    &.modal-xxl{
      width: 98%;
      max-width: 1040px;
    }
  }
}

@media screen and (max-width: 420px){
  .modal-dialog,
  .modal-content{
    overflow: auto;
  }
}